/*
login-pannel-right
  login-pannel-right-form-group
*/

@import '../../_sass/abstracts/_variables.scss';

.login-right-pannel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;

  & > h1 {
    margin-bottom: 150px;
  }

  &-form-group {
    display:flex;
    flex-direction: column;


    & > input {
      border: none;
      border-bottom: 4px solid $color-blue;
      padding: 10px;
      margin: 10px 0;
    }
  }

  &-btns {
    display:flex;
    flex-direction: column;
    margin-top: 50px;

    &-login {
      background-color: $button-color-desktop-login;
      color: $color-white;
      border: none;

      padding: 10px 0;
      margin: 10px 0;
    }

    &-oauth {
      background-color: $button-color-desktop-oauth;
      color: $color-white;
      border: none;

      padding: 10px 0;
      margin: 10px 0;
    }

    &-register {
      text-align: center;
      text-decoration: underline;
    }
  }
}