/*
header-mobile
  header-mobile-logo
  header-mobile-options

navigation-mobile
  navigation-mobile-close
  navigation-mobile-list
    navigation-mobile-list-item
 */

@import '../../_sass/abstracts/_variables.scss';

.header-mobile {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  &-logo, &-options {
    padding: 5px;
    text-decoration: none;

    & img {
      width: $mobile-header-img-size;
      height: $mobile-header-img-size;
    }
  }
}

.navigation-mobile {
  height: 100vh;
  overflow: hidden;

  position: relative;

  // background styling
  background-image: url('../../_static/images/optionsmobile.svg');
  background-repeat: no-repeat;
  background-size: cover;

  &-close {
    position: absolute;
    right: 5px;
    top: 5px;

    & img {
      padding: 5px;
      width: $mobile-nav-close-size;
      height: $mobile-nav-close-size;
    }
  }

  &-list {
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-item {
      font-family: $font-family-Tomorrow;
      font-size: $font-size-mobile-nav;
      color: $mobile-nav-item-color;
      text-decoration: none;
      padding: 30px 0;
    }
  }
}